@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

header {
  font-weight: 700;
  background-color: white;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.logo {
  font-size: 1.125em;
}

.menu {
  font-size: 0.9375em;
}

.bar-menu,
.mobile-menu {
  display: none;
}

main {
  width: 100%;
  overflow: hidden;
  margin-top: 0;
  position: inherit;
  background-color: #e6e6e2;
}

.headline {
  background-image: url('./images/header-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: contain;
  border-bottom-left-radius: 100px;
  padding: 15em 20em;
}

.title {
  font-weight: 800;
  font-size: 3em;
  line-height: 1.25em;
}

.subtitle {
  font-size: 1.35em;
  line-height: 1.75em;
}

.connect {
  color: blue;
  font-weight: 500;
  font-size: 1em;
  border: none;
  background: transparent;
}

.social-icons {
  list-style-type: none;
}

.icon {
  font-size: 1.25em;
  color: #505f79;
  padding-right: 1.25em;
  font-weight: 500;
}

.project-section {
  padding: 8.875em;
}

.project-card {
  border-radius: 0.375em;
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 0;
  background-color: #fff;
  border: 1px solid transparent;
}

.project-card-even {
  display: flex;
  flex-direction: row;
  min-width: 0;
  background-color: #fff;
  border-radius: 0.375em;
  border: 1px solid transparent;
  padding: 1rem 0.5rem;
  word-wrap: break-word;
  overflow: hidden;
}

#card-0,
#card-1,
#card-2,
#card-3 {
  flex-direction: row;
  gap: 2rem;
}

#card-1,
#card-3 {
  flex-direction: row-reverse;
}

.card-title {
  font-weight: 700;
  font-size: 2.5rem;
}

.mainlist {
  color: #344563;
  font-size: 1.125em;
}

.sublist {
  color: #6b778c;
  font-size: 1.125em;
}

.list-inline {
  gap: 0.5em;
}

.sublist::before {
  content: '•';
  margin: 0 8px;
  width: 8px;
  height: 8px;
  color: #6b778c;
}

.badge {
  background-color: #ebebff;
}

#about-section {
  background-color: white;
  border-top-right-radius: 100px;
}

#about-section > div {
  width: 85vw;
  margin: 0 auto;
  padding: 10em 7em;
}

.about-content-left {
  width: 30vw;
  padding-right: 2em;
}

.about-content-right {
  width: 45vw;
}

.about-title {
  width: 10vw;
  font-weight: 700;
  font-size: 3em;
  line-height: 1em;
}

.about-subtitle {
  font-size: 1em;
  width: 28vw;
}

.item {
  font-size: 1.35em;
}

.subitem-list {
  display: flex;
  list-style-type: none;

  /* gap: 2em; */
}

.subitem-list li {
  font-size: 1rem;
  background: #f7f7f9;
  border-radius: 0.5em;
  padding: 0.8em 1.25em;
  margin-right: 1em;
  width: 8em;
  flex-direction: column;
}

.subitem-list img {
  width: 3em;
}

#contact {
  background-color: #6070ff;
  border-top-left-radius: 100px;
  background-image: url('./images/contact-form-background.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#contact > div {
  width: 35vw;
  margin: 0 auto;
  padding: 10em 0;
}

.contact-title {
  font-size: 3em;
  font-weight: 600;
  color: white;
}

.contact-subtitle {
  font-size: 1.25em;
  color: #ebebff;
}

.form-1 {
  width: 30vw;
  margin: 0 auto;
}

#text,
#email {
  height: 2.93em;
  font-size: 1.0625em;
  border: 1px solid #cfd8dc;
  font-weight: 400;
  line-height: 1.25em;
  border-radius: 0.5em;
}

#comment {
  height: 10.625em;
  font-size: 1.0625em;
  font-weight: 400;
  line-height: 1.25em;
  border-radius: 0.5em;
}

#button {
  background-color: white;
}

#button:hover {
  background-color: #0d6efd;
  color: white;
}

.popup-window {
  background-color: pink;
  z-index: 100;
  opacity: 0.9;
}

.show-inner-card {
  background-color: blue;

  /* visibility: hidden; */
  display: flex;
}

.popupSection {
  font-size: 1.25rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 100;
  overflow-x: scroll;
}

.insideDiv {
  padding: 2rem;
  border-radius: 2rem !important;
}

.title-btn-container {
  display: flex;
}

.headerImageContainer {
  display: flex;
}

.header-toggler {
  position: inherit;
}

.closeButton {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
}

.popup-image-container {
  text-align: center;
}

.popupImg {
  width: 80%;
}

.insideDiv ul {
  display: flex;
}

.insideDiv li {
  list-style: none;
  font-weight: 600;
  line-height: 16px;
}

.para-btn-container {
  display: flex;
}

.links-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.designations {
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.counter {
  width: 0.5rem;
  margin-top: -0.5rem;
}

.inner-card {
  background-color: #fff;
  width: 80%;
  margin: auto;
}

.portfolio-image-container {
  display: flex;
  justify-content: center;
}

.data-container-1 {
  flex-direction: column;
}

.list-items-container {
  list-style: none;
  display: flex;
}

.list-item {
  margin: 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Poppins', Courier, monospace;
  color: #6b778c;
}

.popup-btn-container {
  display: flex;
  gap: 1rem;
}

.tags-btn-container {
  width: 34%;
}

#list-item-1 {
  margin-left: -2rem;
  color: #344563;
  font-weight: 500;
}

#portfolio-img {
  width: 100%;
}

@media (max-width: 1199.98px) {
  .header {
    position: inherit;
  }

  .bar-menu {
    display: flex;
    list-style-type: none;
    font-size: 1.25em;
    color: #0d6efd;
  }

  #navbar-menu {
    display: none;
  }

  .headline {
    background-image: url('./images/header-shapes-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
    padding: 15em 3em;
  }

  .title {
    font-size: 2.5em;
    width: 55vw;
  }

  .subtitle {
    font-size: 1.25em;
    color: #344563;
  }

  .project-section {
    padding-left: 2em;
    padding-right: 1.5em;
  }

  .project-card {
    flex-direction: column;
    padding: 1em;
  }

  .inner-card {
    padding: 0 !important;
  }

  .card-title {
    font-weight: 700;
    font-size: 2rem;
  }

  .mainlist {
    color: #344563;
    font-size: 0.925em;
  }

  .sublist {
    color: #6b778c;
    font-size: 0.925em;
  }

  .sublist::before {
    content: '•';
    margin: 0 8px;
    width: 8px;
    height: 8px;
    color: #6b778c;
  }

  .card-text {
    font-size: 0.925em;
  }

  #card-0,
  #card-1,
  #card-2,
  #card-3 {
    flex-direction: column;
  }

  #about-content {
    flex-direction: column;
  }

  #about-section > div {
    flex-direction: column;
    padding: 10em 2em;
    width: 100vw;
  }

  .about-content-left,
  .about-content-right {
    width: 100%;
  }

  .about-title {
    line-height: 1.25em;
  }

  .about-subtitle {
    width: 100%;
  }

  .subitem-list {
    flex-direction: column;
  }

  #list-item1,
  #list-item2,
  #list-item3 {
    align-items: center;
  }

  #contact {
    background-image: url('./images/contact-form-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  #contact > div {
    width: 100%;
    padding: 10em 3em;
  }

  .subitem-list img {
    margin-right: 1.5em;
  }

  .form-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #text,
  #email,
  #comment {
    border-radius: 0.5em;
  }

  #button {
    align-self: flex-start;
  }
}

@media (min-width: 991.98px) {
  .headline {
    background-image: url('./images/header-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
  }

  .ham-menu {
    display: none;
  }

  .tags-btn-container {
    width: 52%;
  }
}

@media screen and (max-width: 991.98px) {
  .mobile-menu {
    display: none;
    font-size: 1.25rem;
    cursor: pointer;
    color: #6070ff;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 5rem 3rem;
    background-color: #6070ff;
    opacity: 0.9;
  }

  .active {
    display: flex;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    list-style-type: none;
    width: 100%;
  }

  .mobile-menu ul li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .mobile-menu ul li a {
    color: #fff;
    text-decoration: none;
  }

  .close-icon {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .ham-menu {
    color: #6070ff;
    font-size: 1.5rem;
  }

  .languages-container {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    float: none;
    padding: 0;
  }

  .para-btn-container {
    display: block;
  }

  .popup-btn-container {
    justify-content: center;
    gap: 1rem;
  }

  .desc-tag-btn-container {
    flex-direction: column;
  }

  .tags-btn-container {
    width: 100%;
  }
}
